# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# Project Specific
models_cache/
static/debug/
*.wav
*.log
.dockerignore
!Dockerfile
!docker-compose.yaml
